.heroSection {
  position: relative;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #000000 50%, #4d0000 100%);
  background-size: 200% 200%;
  animation: oceanGradient 8s ease-in-out infinite;
}

.content {
  margin: 15rem auto;
  max-width: 800px;
  padding: 1rem 1rem;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  color: #f5f5f5;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", Arial, sans-serif;
}

.subtitle {
  font-size: 2rem;
  color: #c0c0c0;
  font-weight: 500;
  font-family: "Montserrat", Arial, sans-serif;
}

.socials {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 2;
}

.icon {
  color: #f5f5f5;
  transition: color 0.2s;
  font-size: 2rem;
}
.icon:hover {
  color: #b8860b;
}

@keyframes oceanGradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 40% 10%;
  }
}

@media (max-width: 600px) {

  .heroSection {
    background: linear-gradient(180deg, #000000 40%, #4d0000 100%);
    background-size: 200% 200%;
    animation: oceanGradient 10s ease-in-out infinite;
    min-height: 50vh;
  }

  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .content {
    margin: 10rem auto;
    padding: 0.5rem 1rem;
  }
}
